<mat-toolbar class="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>
       <a routerLink=""> My App</a>
       
       
    </span> &nbsp; &nbsp;
    <span>
      <a routerLink="/admin"> Admin</a>
    </span> &nbsp;&nbsp;

    <span>
      <a routerLink="/register"> SignUp</a>
    </span> &nbsp;&nbsp;


    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon matBadge="{{totalItems}}" matBadgePosition="after" matBadgeColor="accent">
       <a routerLink="/galary">  
        favorite
      </a>
    </mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
</mat-toolbar>